<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>verifyLogin</filter-name>
        <filter-class>filter.verifyLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>verifyLogin</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>sample.controllers.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>sample.controllers.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>sample.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>humanListController</servlet-name>
        <servlet-class>sample.controllers.humanListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HumanTypeDAO</servlet-name>
        <servlet-class>sample.human.HumanTypeDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>typeListController</servlet-name>
        <servlet-class>sample.controllers.typeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchHumanController</servlet-name>
        <servlet-class>sample.controllers.searchHumanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchTypeController</servlet-name>
        <servlet-class>sample.controllers.searchTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTypeController</servlet-name>
        <servlet-class>sample.controllers.deleteTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteHumanController</servlet-name>
        <servlet-class>sample.controllers.deleteHumanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateHumanController</servlet-name>
        <servlet-class>sample.controllers.updateHumanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTypeController</servlet-name>
        <servlet-class>sample.controllers.updateTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createHumanController</servlet-name>
        <servlet-class>sample.controllers.createHumanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTypeController</servlet-name>
        <servlet-class>sample.controllers.createTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>humanListController</servlet-name>
        <url-pattern>/humanListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HumanTypeDAO</servlet-name>
        <url-pattern>/HumanTypeDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>typeListController</servlet-name>
        <url-pattern>/typeListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchHumanController</servlet-name>
        <url-pattern>/searchHumanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchTypeController</servlet-name>
        <url-pattern>/searchTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTypeController</servlet-name>
        <url-pattern>/deleteTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteHumanController</servlet-name>
        <url-pattern>/deleteHumanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateHumanController</servlet-name>
        <url-pattern>/updateHumanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTypeController</servlet-name>
        <url-pattern>/updateTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createHumanController</servlet-name>
        <url-pattern>/createHumanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTypeController</servlet-name>
        <url-pattern>/createTypeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
